@font-face {
    font-family: stencil;
    src: url("Fuentes/STENCIL.TTF");
}

@font-face {
    font-family: vt323;
    src: url("Fuentes/VT323-Regular.ttf");
       font-family: blacos;
    src: url("Fuentes/BlackOpsOne-Regular.ttf");
}
@font-face {
    font-family: SAW;
    src: url("Fuentes/SAWesome.ttf");  
}
@font-face{
  font-family: alfa;
    src: url("Fuentes/AlfaSlabOne-Regular.ttf");
}
@font-face {
  
    font-family: Special;
    src: url("Fuentes/specialalphabetsp04.otf");
}
@font-face {
    font-family: dynamo;
    src: url("Fuentes/Dynamo.ttf");

    font-family: dynamoREG;
    src: url("Fuentes/Dynamo\ Regular.ttf");
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: url("UNAN-Managua-entre-las-diez-mejores-universidades-de-Centroamerica.jpg");
   background-size: cover;
    min-height: 100vh;
    text-transform: capitalize;

}

.container{
    align-items: center;
    text-align: center;
    text-shadow: white;
    color:whitesmoke;
    font-family: 'Tilt Prism',   sans-serif;
    font-size: 50px;
}


.form-register{
    width: 350px;
    opacity: 90%;
    background: #24303c;
    padding: 20px;
    margin:auto;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: 7px 13px 37px wheat;
}

.form-register h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: stencil;

}

.controls{
     width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    color: white;
}

.form-register p{
    font-family: dynamoREG;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
 
}
 
.form-register a{
    color:white;
    text-decoration: none;
}
.form-register a:hover{
    color:cyan;
    text-decoration: underline;
}

.form-register .botons{
    font-family: dynamo;
    width: 100%;
    background: #000000;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    margin: 16px 0px;
}

footer{
    background-color: #000000;
    color: white;
    width: 100%;
   padding: 1em 0;
    text-align: center;
    align-self: flex-end;
    bottom: 0;
    position: absolute;
    font-family: vt323;
    font-size: 20px;
}
