@font-face {
    font-family: stencil;
    src: url("STENCIL.TTF");
}
body{
    font-family: stencil;
    background: #e8e8e8;
    background-image: url("HTML-and-CSS.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.menu{
    list-style: none;
    padding: 0;
    background: grey;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
    
}
.menu li a:hover{
    background: #ef8354;
}
footer{
    background-color: black;
    color: #e8e8e8;
    height: 20px;
    position: absolute;
    bottom: 0%;
    width: 99%;
    text-align: center;
}

@media (min-width:300px){
    body{
        background: url("HTML-and-CSS.png");
        background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    }
}