*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
.container{
    color: aliceblue;
    font-size: 20px;
    padding: 0%;
    text-align: center;
    width: 100%;
}
body{
    background: url("2959.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.form-register{
    padding-top: 10%;
    opacity: 80%;
    width: 400px;
    background: none;
    padding: 40px;
    margin:auto;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    box-shadow: 7px 13px 37px wheat;
   
}

.form-register h4{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: white;

}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    color: white;
}

.form-register p{
    
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
 
}
 
.form-register a{
    color:white;
    text-decoration: none;
}
.form-register a:hover{
    color:white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    margin: 16px 0px;
}

