@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Playfair&family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*cursor: pointer;*/
    background-repeat: no-repeat;
}
nav{
    color: antiquewhite;
    max-width: 900px;
    margin: auto;
    background-color: none;
    font-size: 20px;
    margin-top: 0px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-horizontal li:hover{
    background-color: red;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: none;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;

}
.header{
    margin-bottom: 1em;
    padding: 1em 0;
    width: 100%;
    height: 100px;
    top: 0;left: 0;
    background-color:none;
}
#imagen{
  padding-top: 50px;
  float: right;
  width: 55%;

  
}

.bienvenida{
    text-align: center;
color: darkgrey;
font-weight: 400;
 font-size: 22px;
margin-left: 10px;
font-family: 'Handjet', cursive;
font-family: 'Playfair', serif;
font-family: 'Tilt Prism', cursive;

}
body{
    background: url(futuristic-city-landscape-future-theme-concept-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: relative;
    margin: 0%;
    padding-bottom: 3em;
    min-height: 100vh;
    text-transform: capitalize;

}

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.container .menu{
    text-align: right;
    float: top;
    line-height: 1px;
}
.container .menu a{
    display: inline-block;
    padding: 2px;
    padding-top: 0%;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 5px solid transparent;
    font-size: 20px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid red;
    padding-bottom: 1px;
}

.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
div.figure {
   
    width: 25%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }
/**
  div.figure p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
  }
*/

.footer{
    background:none;
    padding: 1em 0;
    text-align: r;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: aliceblue;
}
.menu{
    list-style: none; 
     padding: 0%; 
     margin: right;
}


.izq{
    text-align: left;
    padding-left: 5%;

}
/*
.nav{
    width: 100px;
    padding-left: 10%;
    color: white;
    
}
.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

.nav__link--inside:hover{
    background: cadetblue;
}

.list{
    width: 100%;
   
    display: flex;
   
}

.list__item{
    list-style-type: none;
    width: 100%;
    text-align: center;
   overflow: hidden
}
.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    transition: height .4s;
    height: 0;
}
 <nav class="nav">
        <ul class="list">
            <li class="list__item">
                <div class="list__button">
                    <a href="#" class="nav__link">Servicios</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <a href="#" class="nav__link">Servicios</a>
                </div>

                <ul class="list__show">
                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">Juegos Online</a>
                </li>

                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">Juegos Mobiles</a>
                </li>

                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">Desarrollo Web</a>
                </li>

                <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">Noticias</a>
                </li>

                </ul>
            </li>


            <li class="list__item">
                <div class="list__button">
                    <a href="#" class="nav__link">Sexo</a>
                </div>
            </li>

        </ul>
    </nav>
   */ 

.containerr{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10%; 
    margin: center;

}



 .footer-row{
    margin: right;
    display: flex;
    flex-wrap: wrap;

 }

 .footer-links{
    text-align: center;
    padding-left: 5%;
    width: 25%;
    padding: 0 15px;
 }

 .footer-links h4{
    text-decoration: black;
    text-shadow: #fff;
    font-size: 20px;
    color: cornflowerblue;
    margin-bottom: 10px;
    font-weight: 100;
    border-bottom: 2px solid #00c3ff;
    /*padding-bottom: 10px;*/
    display: inline-block;
 }

 .footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
 }

 .footer-links ul li a:hover{
    color: cyan;
    padding-left: 6px;
 }

 .social-link a{
display: inline-block;
min-height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: white;
transition: all .5s ease;
 }
 .social-link a:hover{
    background-color:darkslategrey;
 }

 @media(max-width:100px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 50px;
    }
 }